{% extends "pages/single_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block article_content %}
  {{ page.body|richtext }}

  {% for photo in page.photos %}
    <figure>
      <a href="{{ photo.image.file.url }}">
        {% image photo.image original as p %}
        <img src="{{ p.url }}" width="{{ p.width }}" height="{{ p.height }}" alt="{{ p.alt }}" class="{{ photo.orientation_class }}" />
      </a>
      <figcaption>{{ photo.caption|richtext }}</figcaption>
    </figure>
  {% endfor %}
{% endblock %}
