{% extends "pages/page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block article_content %}
  {{ page.body|richtext }}

  {% for photo in page.photos %}
    <figure>
      <a href="{{ photo.image.file.url }}">
        {% if photo.image.is_horizontal %}
          {% image photo.image original class="horizontal" %}
        {% else %}
          {% image photo.image original class="vertical" %}
        {% endif %}
      </a>
      <figcaption>{{ photo.caption|richtext }}</figcaption>
    </figure>
  {% endfor %}
{% endblock %}
