{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<article>
  <header>
    <h1><a href="{{ page.url }}" title="Permalink for {{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
    <nav>
      <a href="{{ page.url }}" title="Permalink for {{ page.title }}" rel="bookmark"><time datetime="{{ page.first_published_at|date:"c" }}" pubdate>{{ page.first_published_at|date:"Y-m-d" }}</time></a> ·
      <a href="{{ parent.url }}">{{ parent.url }}</a>
    </nav>
  </header>
  {{ page.body|richtext }}
  <footer>
  </footer>
</article>
{% endblock %}
