{% extends "base.html" %}
{% load page_headings_tags %}

{% block content %}
  <article>
    <header>
      <h1><a href="{{ page.url }}" title="Permalink for {{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
      <nav>
        <a href="{{ page.url }}" title="Permalink for {{ page.title }}" rel="bookmark">{% pub_time page.first_published_at %}</a> ·
        <a href="{{ parent.url }}">{{ parent.url }}</a>
      </nav>
    </header>
    {% block article_content %}{% endblock %}
    <footer></footer>
  </article>
{% endblock %}
